@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p></p>
<h2>
  

        @ViewData["msg"];
       



</h2>

@using MyApp1.Models
@{ 
    Data temp = (Data)ViewData["msg1"];
   @temp.Greeting;
    @temp.From;
}





<p>Use this area to provide additional information.</p>
